.home-page-content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}
.home-page-card {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08), 0px 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 16px;
  background-color: #ffffff;
}
.home-page-welcome-content-wrapper{
  text-align: center;
}
.home-page-welcome-conditional-content,.home-page-welcome-content{
    text-align: center;
    font-size: 1.9rem;
    font-weight: 600;
    margin-top: 6rem;
}
.home-page-welcome-conditional-content{
  margin-top: 0rem;
}